In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('RansomHub.csv')

In [24]:
df.head()

   2024-09-29              markdom.com  RansomHub
0  2024-09-28  rockymountaingastro.com  RansomHub
1  2024-09-28  www.contegritygroup.com  RansomHub
2  2024-09-27             PipelBiz.com  RansomHub
3  2024-09-26    www.naniwa-pump.co.jp  RansomHub
4  2024-09-26  www.vbrlogistica.com.br  RansomHub

In [25]:
df.loc[-1] = ['2024-09-29', 'markdom.com', 'RansomHub']
df.index = df.index + 1
df.sort_index(inplace=True)
df.columns = ['Date', 'Victim', 'Ransomware Group']

In [28]:
df.head()

         Date                   Victim Ransomware Group
0  2024-09-29              markdom.com        RansomHub
1  2024-09-28  rockymountaingastro.com        RansomHub
2  2024-09-28  www.contegritygroup.com        RansomHub
3  2024-09-27             PipelBiz.com        RansomHub
4  2024-09-26    www.naniwa-pump.co.jp        RansomHub

In [30]:
df.insert(2, "Country", "")

In [31]:
df.head()

         Date                   Victim Country Ransomware Group
0  2024-09-29              markdom.com                RansomHub
1  2024-09-28  rockymountaingastro.com                RansomHub
2  2024-09-28  www.contegritygroup.com                RansomHub
3  2024-09-27             PipelBiz.com                RansomHub
4  2024-09-26    www.naniwa-pump.co.jp                RansomHub

In [ ]:
prompt = "I am going to give you the website of a victim of ransomware. I need you to provide me with the country the company is based in. Nothing else. Just the country. No other information. Thank you"