In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('RansomHub.csv')

In [3]:
df.head()

   2024-09-29              markdom.com  RansomHub
0  2024-09-28  rockymountaingastro.com  RansomHub
1  2024-09-28  www.contegritygroup.com  RansomHub
2  2024-09-27             PipelBiz.com  RansomHub
3  2024-09-26    www.naniwa-pump.co.jp  RansomHub
4  2024-09-26  www.vbrlogistica.com.br  RansomHub

In [4]:
df.loc[-1] = ['2024-09-29', 'markdom.com', 'RansomHub']
df.index = df.index + 1
df.sort_index(inplace=True)
df.columns = ['Date', 'Victim', 'Ransomware Group']

In [5]:
df.head()

         Date                   Victim Ransomware Group
0  2024-09-29              markdom.com        RansomHub
1  2024-09-28  rockymountaingastro.com        RansomHub
2  2024-09-28  www.contegritygroup.com        RansomHub
3  2024-09-27             PipelBiz.com        RansomHub
4  2024-09-26    www.naniwa-pump.co.jp        RansomHub

In [6]:
df.insert(2, "Country", "")

In [7]:
df.head()

         Date                   Victim Country Ransomware Group
0  2024-09-29              markdom.com                RansomHub
1  2024-09-28  rockymountaingastro.com                RansomHub
2  2024-09-28  www.contegritygroup.com                RansomHub
3  2024-09-27             PipelBiz.com                RansomHub
4  2024-09-26    www.naniwa-pump.co.jp                RansomHub

In [15]:
import ollama
index = 0
for victim in df['Victim']:
    response = ollama.chat(model='llama3', messages=[
        {
            'role': 'user',
            'content': f'I am going to give you the website of a victim of ransomware. I need you to provide me with the country the company is based in. Nothing else. Just the country. No other information. Give only the sountry as your response. The victim site is {victim}',

        },
    ])

    country = (response['message']['content'])
    print(country)

    rowIndex = df.index[index]
    df.loc[rowIndex, 'Country'] = country
    
    index += 1

United States
United States
United States
Canada
Japan
Brazil
Sweden
Japan
Poland
Brazil
United States
United States
Turkey
Turkey
Denmark
Argentina
United States
Spain
United States
United States
United States
Poland
United States
United States
Norway
United States
United States
Australia
United States
USA
United States
Italy
Canada
United States
United States
United States
United States
United States
United States
United States
United States
United States
India
Italy
Lithuania
United States
Germany
United States
United States
United Kingdom
United States
Germany
United States
Canada
Northern Ireland
New Zealand
United States
United States
United States
Italy
Japan
United States
United States
Taiwan
Canada
Switzerland
United States
United Arab Emirates
United Kingdom
United States
Switzerland
United States
United States
France
South Africa
Romania
Guatemala
Australia
India
Spain
Togo
Bangladesh
United Kingdom
United States
Taiwan
Canada
Djibouti
Germany
United States
USA
United States
Malaysia
Saudi Arabia
United Kingdom
United States
United States
United States
United States
Brazil
Ireland
South Africa
Australia
United States
United Kingdom
New Zealand
Sweden
United Kingdom
Vietnam
Netherlands
United States
United States
United States
United States
Italy
Poland
United States
United States
United States
United States
New Zealand
United States
Australia
United States
United States
United States
Australia
United States
USA
United States
Australia
United States
Peru
India
United States
Mexico
France
United States
Australia
Canada
United States
Belgium
Germany
United States
United States
United States
Brazil
United States
Thailand
Romania
Canada
United States
Czech Republic
Sweden
Indonesia
Japan
Netherlands
Australia
Brazil
Italy
Poland
United States
Brazil
United States
United States
Germany
United States
Germany
United States
Denmark
United States
United States
United States
USA
Italy
South Korea
Austria
Romania
Germany
Romania
United States
United States
United States
Brazil
Brazil
India
United States
Myanmar
Italy
Italy
USA
Brazil
United States
Canada
Spain
Italy
Italy
United States
Italy
United States
United States
Taiwan
United States
Sweden
Serbia
United Kingdom
United States
United States
United States
Spain
United States
United States
Japan
France
United States
United States
Brazil
Brazil
China
France
India
Brazil
South Africa
United Kingdom
United Arab Emirates
Spain
United Kingdom
United States
Australia
Spain
United States
Afghanistan
USA
Spain
Colombia
United States
United States
United States
Canada
Italy
United States
United States
USA
Italy
Brazil
El Salvador
Norway
United States
United States
Brazil
Spain
Malaysia
Canada
Sweden
Korea
Turkey
India
Slovakia
Brazil
Australia
Brazil
United States
Romania
Brazil

In [16]:
df.head()

         Date                   Victim        Country Ransomware Group
0  2024-09-29              markdom.com  United States        RansomHub
1  2024-09-28  rockymountaingastro.com  United States        RansomHub
2  2024-09-28  www.contegritygroup.com  United States        RansomHub
3  2024-09-27             PipelBiz.com         Canada        RansomHub
4  2024-09-26    www.naniwa-pump.co.jp          Japan        RansomHub

In [17]:
RansomHub_cleaned = df

RansomHub_cleaned.head()

         Date                   Victim        Country Ransomware Group
0  2024-09-29              markdom.com  United States        RansomHub
1  2024-09-28  rockymountaingastro.com  United States        RansomHub
2  2024-09-28  www.contegritygroup.com  United States        RansomHub
3  2024-09-27             PipelBiz.com         Canada        RansomHub
4  2024-09-26    www.naniwa-pump.co.jp          Japan        RansomHub

In [23]:
RansomHub_cleaned['Country'].value_counts()

United States           103
Brazil                   17
Italy                    13
Australia                10
Canada                   10
United Kingdom            9
Spain                     8
Germany                   7
USA                       7
India                     6
Romania                   5
Sweden                    5
Japan                     5
Poland                    4
France                    4
South Africa              3
Turkey                    3
New Zealand               3
Taiwan                    3
United Arab Emirates      2
Netherlands               2
Malaysia                  2
Norway                    2
Switzerland               2
Denmark                   2
Thailand                  1
El Salvador               1
Colombia                  1
Afghanistan               1
China                     1
Serbia                    1
Korea                     1
Myanmar                   1
Austria                   1
South Korea               1
Indonesia                 1
Czech Republic            1
Saudi Arabia              1
Belgium                   1
Mexico                    1
Peru                      1
Vietnam                   1
Ireland                   1
Argentina                 1
Djibouti                  1
Bangladesh                1
Togo                      1
Guatemala                 1
Northern Ireland          1
Lithuania                 1
Slovakia                  1
Name: Country, dtype: int64

In [27]:
RansomHub_cleaned['Country'].replace('USA', 'United States', inplace=True)

In [28]:
RansomHub_cleaned['Country'].value_counts()

United States           110
Brazil                   17
Italy                    13
Canada                   10
Australia                10
United Kingdom            9
Spain                     8
Germany                   7
India                     6
Japan                     5
Sweden                    5
Romania                   5
Poland                    4
France                    4
South Africa              3
Taiwan                    3
New Zealand               3
Turkey                    3
Malaysia                  2
Switzerland               2
United Arab Emirates      2
Norway                    2
Netherlands               2
Denmark                   2
Colombia                  1
Indonesia                 1
South Korea               1
Austria                   1
Myanmar                   1
Afghanistan               1
Serbia                    1
China                     1
Thailand                  1
Korea                     1
El Salvador               1
Czech Republic            1
Guatemala                 1
Belgium                   1
Mexico                    1
Peru                      1
Vietnam                   1
Ireland                   1
Saudi Arabia              1
Djibouti                  1
Bangladesh                1
Togo                      1
Northern Ireland          1
Lithuania                 1
Argentina                 1
Slovakia                  1
Name: Country, dtype: int64

In [29]:
RansomHub_cleaned.head()

         Date                   Victim        Country Ransomware Group
0  2024-09-29              markdom.com  United States        RansomHub
1  2024-09-28  rockymountaingastro.com  United States        RansomHub
2  2024-09-28  www.contegritygroup.com  United States        RansomHub
3  2024-09-27             PipelBiz.com         Canada        RansomHub
4  2024-09-26    www.naniwa-pump.co.jp          Japan        RansomHub

In [35]:
RansomHub_cleaned['Country'].value_counts()

United States           110
Brazil                   17
Italy                    13
Canada                   10
Australia                10
United Kingdom            9
Spain                     8
Germany                   7
India                     6
Japan                     5
Sweden                    5
Romania                   5
Poland                    4
France                    4
South Africa              3
Taiwan                    3
New Zealand               3
Turkey                    3
Malaysia                  2
Switzerland               2
United Arab Emirates      2
Norway                    2
Netherlands               2
Denmark                   2
Colombia                  1
Indonesia                 1
South Korea               1
Austria                   1
Myanmar                   1
Afghanistan               1
Serbia                    1
China                     1
Thailand                  1
Korea                     1
El Salvador               1
Czech Republic            1
Guatemala                 1
Belgium                   1
Mexico                    1
Peru                      1
Vietnam                   1
Ireland                   1
Saudi Arabia              1
Djibouti                  1
Bangladesh                1
Togo                      1
Northern Ireland          1
Lithuania                 1
Argentina                 1
Slovakia                  1
Name: Country, dtype: int64

In [36]:
RansomHub_cleaned.to_csv('RansomHub_cleaned.csv')